<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Educate - Education HTML Templates</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">


    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/colors/color1.css" id="colors">

    <!-- Overrides -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/overrides.css">

    <!-- Animation Style -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/animate.css"> -->

    <!-- Favicon and touch icons  -->
    <link href="/assets/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="/assets/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed" sizes="57x57">
    <link href="/assets/icon/favicon.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="/assets/javascript/html5shiv.js"></script>
        <script src="/assets/javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header-sticky">
    <div class="boxed">
        <div class="windows8">
            <div class="preload-inner">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-information">
                                <p>Welcome to the Rawalpindi Institute of Art &amp; Design</p>
                            </div>
                            <div class="right-bar">
                                <ul class="flat-information">
                                    <li class="phone">
                                        <a href="+923475000204" title="Phone number">+92 347 5000204</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:info@riad.edu.pk" title="Email address">info@riad.edu.pk</a>
                                    </li>
                                </ul>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/riad.edu.pk/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.header-inner-pages -->

        <!-- Header -->
        <header id="header" class="header clearfix">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="index.html" rel="home">
                            <img src="/assets/images/logo.png", height="100%" alt="image">
                        </a>
                    </div>
                    <!-- /.logo -->
                    <div class="nav-wrap">
                        <div class="btn-menu">
                            <span></span>
                        </div>
                        <!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="home">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="has-sub"><a href="courses-grid.html">Courses</a>
                                    <ul class="submenu">
                                        <li><a href="courses-grid.html">Courses grid</a></li>
                                        <li><a href="courses-grid-sidebar.html">Courses grid sidebar</a></li>
                                        <li><a href="courses-list-sidebar.html">Courses list sidebar</a></li>
                                        <li><a href="courses-single.html">Courses single</a></li>
                                    </ul>
                                    <!-- /.submenu -->
                                </li>

                                <li><a href="about-us.html">About</a>
                                </li>

                                <li><a href="team.html">Team</a>
                                </li>

                                <li><a href="blog.html">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog single</a></li>
                                    </ul>
                                    <!-- /.submenu -->
                                </li>

                                <li><a href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <!-- /.menu -->
                        </nav>
                        <!-- /.mainnav -->
                    </div>
                    <!-- /.nav-wrap -->

                    <div id="s" class="show-search">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <!-- /.show-search -->

                    <div class="submenu top-search">
                        <div class="widget widget_search">
                            <form class="search-form">
                                <input type="search" class="search-field" placeholder="Search …">
                                <input type="submit" class="search-submit">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.header-inner -->
            </div>
        </header>
        <!-- /.header -->

{{ content }}


<!-- Footer -->
<footer class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget widget-text">
                        <a href="https://goo.gl/maps/7y6Hsv7g7Fp">
                          <img target="_blank" src="/assets/images/blog/Footer-01.png" alt="image">
                        </a>
                        <ul>
                            <li class="address">House 8, Lane 3, Gulistan Colony, Rawalpindi</li>
                            <li class="phone"><a href="tel:+92515150858">+92 51 5150858</a></li>
                            <li class="phone"><a href="tel:+923475000204">+92 347 5000204</a></li>
                            <li class="email"><a href="mailto:info@riad.edu.pk">info@riad.edu.pk</a></li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>

                <div class="col-md-3 col-md-offset-6">
                    <div class="widget widget_tweets clearfix">
                        <h5 class="widget-title">Quick Links</h5>
                        <ul class="link">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Courses</a>
                            </li>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget-recent-tweets -->
                </div>
                <!-- /.col-md-2 -->


                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                    </div>
                    <!-- /.widget .widget-instagram -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-widgets -->
</footer>

<a class="go-top">
    <i class="fa fa-chevron-up"></i>
</a>

<!-- Bottom -->
<div class="bottom">
    <div class="container">
        <ul class="flat-socials-v1">
            <li class="facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="vimeo">
                <a href="#"><i class="fa fa-vimeo"></i></a>
            </li>
            <li class="rss">
                <a href="#"><i class="fa fa-rss"></i></a>
            </li>
        </ul>
        <div class="row">
            <div class="container-bottom">
                <div class="copyright">
                    <p>Copyright © 2016. Designer by <span><a href="#">NthPsd</a></span>. All Rights Reserved.</p>
                </div>
            </div>
            <!-- /.container-bottom -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
</div>
<!-- /. boxed -->


<!-- Javascript -->
<script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/assets/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/javascript/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-countTo.js"></script>
<script type="text/javascript" src="/assets/javascript/parallax.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-validate.js"></script>
<script type="text/javascript" src="/assets/javascript/main.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="/assets/javascript/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/javascript/slider.js"></script>
</body>

</html>
